body {
    background: linear-gradient(25deg, rgb(4, 8, 19), rgb(38, 36, 50));
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

#nav {
    background: linear-gradient(25deg, rgb(4, 8, 19), rgb(38, 36, 50));
    /* z-index: 1; */
}

.content {
    min-height: 100px;
}

li{
    list-style-type: none;
}

.ff {
    text-align: justify;
    font-size: 17px;
    font-family: monospace;
}

#selfDisplay {
    font-family: monospace;
    font-weight: 600;
    font-size: 30px;
    background: -webkit-linear-gradient(1deg, rgb(21, 197, 224), #eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* width: 500px; */
    min-height: 100px;
    line-height: 50px;
}

#about {
    margin-top: 50px;
    padding-bottom: 20px;
    font-size: 37px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    background: -webkit-linear-gradient(white, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#logo {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 70%;
    display: flex;
    justify-content: center;
    color: black;
    padding-bottom: 45px;
    margin-top: -10px;
    /* align-items: center; */
    margin-bottom: 5px;
    /* font-size: 40px; */

}

.p {
    font-size: 25px;
}


.sideB {
    display: flex;
    gap: 50px;
    flex-direction: row;
    align-items: center !important;
}
.container-fluid{
    display: flex !important;
    justify-content: space-between !important;
}

a {
    text-decoration: none;
    color:white;
    font-size: 25px;
    font-family: monospace;
    font-style: italic;
}

.wrap {
    padding-top: 40px;
    font-size: 18px;
    color: white;
    text-align: justify;
}

#me {
    font-size: 18px;
    color: white;
}

.circle {
    width: 20px;
    height: 5px !important;
    padding: 15px;
    border-radius: 100%;

    background-color: red;
}

.line {
    width: 100px;
    border-bottom: 5px solid red;

}

.service {
    width: 420px;
    min-height: 250px;
    box-shadow: 1px 1px 3px lightcoral;
    background-color: rgb(59, 55, 83);
    color: white;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 50px;
}

.handlers {
    margin-top: 70px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#service {
    margin-top: 150px;
    padding-bottom: 20px;
    font-size: 37px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    background: -webkit-linear-gradient(white, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#project {
    /* margin-left: -60px; */
    margin-top: 150px;
    padding-bottom: 20px;
    font-size: 37px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    background: -webkit-linear-gradient(white, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#contact {
    /* margin-left: -60px; */
    margin-top: 150px;
    padding-bottom: 20px;
    font-size: 37px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    background: -webkit-linear-gradient(white, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.service:hover img {
    animation-name: increase;
    animation-delay: 0.1s;
    animation-duration: 1s;
}

.service:hover .bg {
    background-color: red;
}

.bg {
    width: 60px;
    height: 60px;
    padding: 8px;
    border-radius: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project {
    width: 100%;
    height: 100%;

}

.overlay {
    position: absolute;
    background-color: rgba(4, 8, 19, 0.9);
    top: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Pcont {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap !important;
}

.proj {
    width: 100%;
    padding: 10px;
    box-shadow: 1px 1px 3px lightcoral;
    margin-bottom: 30px;
}

@keyframes increase {
    form {
        width: 50px;

    }

    to {
        width: 35px;

    }
}

ul {
    list-style: none;
    margin-top: 30px;
    margin-left: -15px;
    /* padding-left: 50px; */
}

li {
    margin-bottom: 10px;
}

hr {
    background-color: gray;
}

.media {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.media:hover {
    background-color: rgba(65, 63, 63, 0.7);
}

#allDiv {
    border: none !important;
    background-color: transparents;
}

#email {
    border-radius: 10px;
    display: inline;
    width: 50%;
    /* margin-left: 17px; */
    padding: 15px;
    background-color: transparent;
    box-shadow: 1px 1px 3px lightcoral;
}

#name {
    color: white;
    border-radius: 10px;
    display: inline;
    width:50%;
    padding: 15px;
    background-color: transparent;
    box-shadow: 1px 1px 3px lightcoral;
}

#comment {
    padding: 10px;
    color: white;
    margin-top: 15px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 1px 1px 3px lightcoral;
}

@media(max-width:576px){
   .content{
       display: flex;
       flex-direction: column-reverse;
   }
}
@media(max-width:415px){
   .btn-success{
       width: 200px !important;
       font-size: 16px !important;
   }
}
@media(max-width:536px){
  .project_wrapper{
      width: 100% !important;
  }
}
@media(max-width:750px){
  #name,#email{
      width: 100%;
  }
  .form_handler{
      flex-direction: column;
  }
}
@media(max-width:768px){
  #contact,#project,#service,#about,#mySkills{
      text-align: center;
      font-size: 27px;
  }
  .under_lines{
      justify-content: center;
  }
}
@media(max-width:991px){
    .collapse main{
        flex-direction: column !important;
        padding: 20px 0 20px 20px;

        gap: 20px !important;
    }
    .sideB{
        flex-direction: column !important;
        align-items: flex-start !important;
        gap: 20px;
    }
   
}